
@import url("reset.css");
@import url("common.css");

body {
    background-color: #DEEBE0;
}

.clickable {
    cursor: pointer;
}

.ajaxResult {
    color: #440000;
    font-weight: bold;
    font-size: 18px;
}

.error, ul#errors li, span.error {
    display: block;
    margin: .5em 0em .5em 0em;
    color: #ff3246;
    font-weight: bold;
    font-size: 12px;
}

.center {
    text-align: center;
}

#navi {
    width: 15%;
    float: left;
    border-right: 1px solid #336633;
    border-bottom: 1px solid #336633;
    background-color: black;
}

#navi img#logo {
    display: block;
    margin: auto;
}

/* the position of login status*/
.logout {
    margin-left: 10%;
    width: 15%;
    position: absolute;
}

#lang {
    margin-left: 75%;
    margin-top: -1.5%;
    width: 5%;
    position: absolute;
}

.texta {
    background-color: #DEEBE0;
    padding: .4em;
    font-size: .8em;
}

.welcome-link {
    font-size: 1.5em;
}

span.title {
    font-size: 200%;
    font-weight: 600;
    color: #FFFFFF;
    width: 95%;
    margin-left: 3%;

}

#wrapper {
    margin-left: 15%;
}

#content {
    margin: 1em;
    font-size: 12px;
    padding-left: 1em;
    float: left;
    width: 80%;
}

#content h1:first-child {
    font-size: 1.5em;
    margin-bottom: .5em;
}

.box {
    border: 1px solid #00CC66;;
    margin-top: 1%;
    background-color: #86C583;
    overflow: scroll;
    height: 25%;
    width: 100%;
}

.contents {
    border: 1px solid #00CC66;
    margin-top: 1%;
    background-color: #DEEBE0;
    border-bottom: 1px solid #00CC66;
    width: 79%;
    min-height: 533px;
    font-size: 12px;

}

#boxtop {
    border-top: 1px solid #00CC66;
    border-left: 1px solid #00CC66;
    border-right: 1px solid #00CC66;
    border-bottom: 1px solid #00CC66;
    width: 95%;
    margin-top: 3px;
    margin-left: 3%;
    height: 100%;
    margin-right: 3%;
    float: none;
    background-color: #E4F4E3;
}

.update-btn {
    width: 125px;
    height: 30px;
}

#footer {
    padding-bottom: .5em;
    border-top: .2em solid #006633;
    text-align: center;
    font-size: 90%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2em;
    background-color: #DEEBE0;
}

h1, h2, h3, h4, h5, h6 {
    color: #579567;
}

a:link, a:visited {
    color: #336633;
}

acronym, abbr {
    border-bottom: 1px dotted #000000;
    cursor: help;
}

p {
    font-size: 85%;
}

li {
    font-size: 85%;
}

.paging-text {
    font-size: .9em;
}

.paging-element {
    padding-left: 12px;
}

.paging-link:link {
    text-decoration: underline;
}

.paging-link:hover {
    text-decoration: underline;
    color: #387C44;
}

a.amendment-tab {
    display: inline-block;
    color: #FFF;
    padding: 1em;
    width: 5em;
    text-align: center;
}

a.amendment-tab-selected {
    background-color: #306331;
}

a.amendment-tab-unselected {
    background-color: #86C583;
    color: #306331;
}

#loading-div {
    position: fixed;
    top: 0;
    width: 10%;
    left: 45%;
    background-color: #608050;
    text-align: center;
    padding: .2em .8em;
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
    visibility: hidden;
}

.openhds-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1em;
}

.openhds-table th {
    background-color: #A7C942;
    text-align: left;
    color: white;
    padding: 5px 7px 4px;
}

.openhds-table td {
    border: 1px solid #98BF21;
    padding: 5px 5px 5px;
}

tr.deleted td.center {
    text-decoration: line-through;
}

p {
    line-height: 1.5em;
}

ul.menu, ul.menu ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: auto;
}

ul.menu a {
    display: block;
    text-decoration: none;
}

ul.menu li {
    margin-top: 1px;
}

ul.menu li a {
    background: #306331;
    color: #fff;
    padding: 0.5em;
}

ul.menu li a:hover {
    background: #0CA717;
}

ul.menu li ul li a {
    background: #BDDFBB;
    color: #000;
    padding-left: 20px;
}

ul.menu li ul li a:hover {
    background: #B3DFB0;
    border-left: 5px #000 solid;
    padding-left: 15px;
}

.code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }
.indent3 { padding-left: 3em; }
.indent4 { padding-left: 4em; }
.indent5 { padding-left: 5em; }