<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <title th:text="#{app.name}">CIMS</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div id="content" class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <h1 th:text="#{login.prompt}" />
            <form th:action="@{/login}" method="post">
                <fieldset>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" data-dismiss="alert">
                            <span th:text="#{login.failed}">Invalid username and password.</span>
                            <button type="button" class="close" data-dismiss="alert" data-th-attr="aria-label=#{alert.close}">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info alert-dismissible fade show" role="alert" data-dismiss="alert">
                            <span  th:text="#{logout.success}">You have been logged out.</span>
                            <button type="button" class="close" data-dismiss="alert" data-th-attr="aria-label=#{alert.close}">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-person"></span></span>
                            </div>
                            <input type="text" name="username" id="username"
                                   class="form-control"
                                   th:placeholder="#{login.username}" required="true" autofocus="true"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-key"></span></span>
                            </div>
                            <input type="password" name="password" id="password"
                                   class="form-control"
                                   th:placeholder="#{login.password}" required="true"/>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary" value="Login" th:inline="text">
                            <span class="oi oi-account-login" aria-hidden="true"></span> [[#{login.prompt}]]
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>