<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title th:text="#{app.name} + ' - ' + #{nav.roles}">CIMS - Roles</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div id="content" class="container">
    <div class="row align-items-center">
        <h1 class="col-auto">
            <span class="oi oi-people" aria-hidden="true"></span> <span th:text="#{nav.roles}"></span>
        </h1>
        <div class="col">
            <div class="btn btn-primary" data-toggle="modal" data-target="#rolemodal"
                 th:attr="data-title=#{roles.ttl.create},data-action=create,data-action-label=#{roles.btn.create},data-action-icon=plus" th:inline="text"
                 sec:authorize="hasAuthority('CREATE_ROLES')">
                <span class="oi oi-plus"></span> [[#{roles.btn.create}]]
            </div>
            <div class="modal fade" id="rolemodal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:text="#{roles.ttl.create}">Create Role</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="roleform" novalidate="">
                                <div class="form-group">
                                    <label for="name" th:text="#{roles.lbl.name} + ':'"></label>
                                    <input id="name" class="form-control" required=""/>
                                    <span class="small invalid-feedback" th:text="#{input.msg.required(#{roles.lbl.name})}"></span>
                                </div>
                                <div class="form-group">
                                    <label for="description" th:text="#{roles.lbl.description} + ':'"></label>
                                    <input id="description" class="form-control"/>
                                    <span class="small invalid-feedback" th:text="#{input.msg.required(#{roles.lbl.description})}"></span>
                                </div>
                                <div class="form-group">
                                    <label for="privileges" th:text="#{roles.lbl.privileges} + ':'"></label>
                                    <select id="privileges" class="form-control" required="" multiple="">
                                        <option th:each="p:${privileges}" th:value="${p.uuid}" th:text="${p.privilege}"></option>
                                    </select>
                                    <span class="small invalid-feedback" th:text="#{input.msg.required(#{roles.lbl.privileges})}"></span>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{roles.btn.close}">Close</button>
                            <button type="submit" class="btn btn-primary" th:inline="text">
                                <span class="oi oi-plus" aria-hidden="true"></span> [[#{roles.btn.create}]]
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:unless="${roles.totalElements > 0}">
        <div class="col">
            <p class="text-center" th:text="#{roles.msg.none}">No roles found</p>
        </div>
    </div>
    <th:block th:if="${roles.totalPages > 0}">
    <div class="row" th:if="${roles.totalPages > 1}">
        <div class="col">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!roles.hasPrevious()}? disabled">
                        <a class="page-link" th:href="${roles.hasPrevious()}? @{/roles(p=${roles.previousPageable().pageNumber})} : '#'" th:text="#{pager.lbl.previous}">Previous</a>
                    </li>
                    <li class="page-item" th:classappend="${roles.number == pn}? active" th:each="pn:${#numbers.sequence(0, roles.totalPages - 1)}">
                        <a class="page-link" th:href="${roles.number == pn}? '#' : @{/roles(p=${pn})}" th:text="${pn+1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${!roles.hasNext()}? disabled">
                        <a class="page-link" th:href="${roles.hasNext()}? @{/roles(p=${roles.nextPageable().pageNumber})} : '#'" th:text="#{pager.lbl.next}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th th:text="#{roles.lbl.name}">Name</th>
                        <th th:text="#{roles.lbl.description}">Description</th>
                        <th class="text-center" th:text="#{table.lbl.actions}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="r:${roles}">
                        <td class="align-middle" th:text="${r.name}">Name</td>
                        <td class="align-middle" th:text="${r.description}">Description</td>
                        <td class="align-middle text-center">
                            <div class="btn-group">
                                <span class="btn btn-outline-primary oi oi-info pr-3 pl-3" data-toggle="modal" data-target="#rolemodal"
                                      th:attr="data-entity=${r.uuid},data-action=none,data-title=#{roles.ttl.view}"></span>
                                <span class="btn btn-outline-primary oi oi-pencil" data-toggle="modal" data-target="#rolemodal"
                                      th:attr="data-entity=${r.uuid},data-title=#{roles.ttl.edit},data-action=edit,data-action-label=#{roles.btn.save},data-action-icon=pencil"
                                      sec:authorize="hasAuthority('EDIT_ROLES')"></span>
                                <span id="delete" th:attr="data-entity=${r.uuid}" class="btn btn-outline-primary oi oi-trash"
                                      sec:authorize="hasAuthority('DELETE_ROLES')"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </th:block>
</div>
<div th:replace="fragments/footer :: footer"/>
<script th:inline="javascript">
    var createUrl = /*[[@{/roles}]]*/ 'create-url-placeholder',
        entityUrl = /*[[@{/role}]]*/ 'update-url-placeholder';
//<![CDATA[
    var $modal = $('#rolemodal'),
        $form = $modal.find('#roleform'),
        $submitBtn = $modal.find(':submit');

    $submitBtn.on('click', function() {
        $form.trigger('submit'); // necessary since button is not member of form
    });

    // setup form events
    $form.on('submit', function(e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).trigger('validation');
    }).on('validation-prepare', function() {
        $(this).find('.invalid-feedback.server').remove();
        $(this).find('.is-invalid, .is-valid').removeClass('is-invalid is-valid');
        $(this).find('.invalid-feedback:not(.server)').removeClass('d-none');
    }).on('validation', function() {
        $(this).trigger('validation-prepare');
        if (this.checkValidity()) {
            $(this).trigger('validation-success');
        } else {
            $(this).trigger('validation-failed');
        }
    }).on('validation-failed', function() {
        $(this).addClass('was-validated');
    }).on('validation-success', function() {
        var $f = $(this);
        $f.trigger('action-prepare');
        $.ajax({
            type: $f.data('action') === 'create'? 'POST' : 'PUT',
            contentType: 'application/json',
            url: $f.data('action') === 'create'? createUrl : entityUrl + '/' + $f.data('entity'),
            data: JSON.stringify({
                name: $f.find('#name').val(),
                description: $f.find('#description').val(),
                privileges: $f.find('#privileges').val()
            }),
            dataType: 'json',
            success: function (jsonrsp) {
                $f.trigger({type: 'action-success', response: jsonrsp});
            },
            error: function (rsp) {
                $f.trigger({type: 'action-failed', response: rsp.responseJSON});
            },
            complete: function(rsp) {
                $f.trigger({type: 'action-complete', response: rsp.responseJSON});
            }
        });
    });

    $modal.on('validation-prepare', function() {
        $(this).find('.modal-body .alert').remove();
    }).on('action-prepare', function() {
        $form.removeClass('was-validated');
        $form.find('.invalid-feedback:not(.server)').addClass('d-none');
        $submitBtn.prop("disabled", true);
    }).on('action-success', function(e) {
        if ($form.data('action') === 'create') {
            $.each(e.response.messages, function(idx, msg) {
                $modal.find('.modal-body').prepend(
                    '<div class="alert alert-dismissible alert-success fade show" role="alert" data-dismiss="alert">' +
                    "<span>" + msg + "</span>" +
                    '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                    "</div>");
            });
            $form.trigger("reset");
        } else {
            location.reload(true);
        }
    }).on('action-failed', function(e) {
        $.each(e.response.fieldErrors, function(fieldname, errors) {
            var $field = $form.find('#'+fieldname);
            $field.addClass('is-invalid');
            var $group = $field.parent('.form-group');
            $.each(errors, function(i, error) {
                $group.append('<span class="small invalid-feedback server">' + error + '</span>');
            });
        });
    }).on('action-complete', function() {
        $submitBtn.prop("disabled", false);
    }).on('show.bs.modal', function(e) {

        var $toggle = $(e.relatedTarget), $closeBtn = $('#close'),
            action = $toggle.data('action'), title = $toggle.data('title'), entity = $toggle.data('entity');

        $modal.find('.modal-title').text(title);

        if (action !== 'none') {
            $closeBtn.removeClass('btn-primary').addClass('btn-secondary');
            $form.data('action', action);
            $submitBtn.removeClass('d-none');
            $submitBtn.html('<span class="oi oi-' + $toggle.data('action-icon') + '" aria-hidden="true"></span> '
                + $toggle.data('action-label'));
            $form.find('.form-control').prop('disabled', false);
        } else {
            $closeBtn.removeClass('btn-secondary').addClass('btn-primary');
            $submitBtn.addClass('d-none');
            $form.find('.form-control').prop('disabled', true);
        }

        if (entity) {
            $form.data('entity', entity);
            $form.trigger('load-entity');
        }
    }).on('load-entity', function() {
        $.ajax({
            type: 'GET',
            url: entityUrl + '/' + $form.data('entity'),
            dataType: 'json',
            success: function (data) {
                $.each(['name', 'description', 'privileges'], function(i,v) {
                    $form.find('#'+v).val(data[v]);
                });
            }
        });
    }).on('hidden.bs.modal', function () {
        location.reload(true);
    });

    $('span#delete.btn').click(function() {
        $.ajax({
            type: 'DELETE',
            url: entityUrl + '/' + $(this).data('entity'),
            success: function() {
                location.reload(true);
            }
        });
    });
//]]>
</script>
</body>
</html>
