<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="header-css" th:remove="tag">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet"/>
        <style>
            html, body {
                height: 100%;
            }
            #content {
                padding-top: 8rem;
                padding-bottom: 5rem;
            }
            footer {
                padding: 1rem;
            }
            .navbar-brand img {
                width: 3rem;
                height: 3rem;
            }
        </style>
    </div>
</head>
<body>
<div th:fragment="header" th:remove="tag">
    <header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.svg}" class="img-fluid" th:alt="#{app.logo.alt}" alt="CIMS Logo" />
            <span th:text="#{app.name}">CIMS Server</span>
        </a>
        <button class="navbar-toggler" sec:authorize="isAuthenticated()" type="button"
                data-toggle="collapse" data-target="#navbar-content"
                aria-controls="navbar-content" aria-expanded="false" data-th-attr="aria-label=#{nav.toggle}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content" sec:authorize="isAuthenticated()">
            <ul class="navbar-nav mr-auto">
                <a class="nav-item nav-link" th:href="@{/}" th:inline="text">
                    <span class="oi oi-home" aria-hidden="true"></span> [[#{nav.home}]]
                </a>
                <a class="nav-item nav-link" th:href="@{/forms}" th:inline="text">
                    <span class="oi oi-document" aria-hidden="true"></span> [[#{nav.forms}]]
                </a>
                <a class="nav-item nav-link" th:href="@{/sync}" th:inline="text">
                    <span class="oi oi-loop-square" aria-hidden="true"></span> [[#{nav.sync}]]
                </a>
                <a class="nav-item nav-link" th:href="@{/backups}" th:inline="text">
                    <span class="oi oi-shield" aria-hidden="true"></span> [[#{nav.backups}]]
                </a>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown" >
                    <a id="user-dropdown-link" class="nav-link dropdown-toggle" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" th:inline="text">
                        <span class="oi oi-person" aria-hidden="true"></span> [[${#authentication.name}]]
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown-link">
                        <a class="dropdown-item" th:href="@{/logout}" th:inline="text">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> [[#{nav.logout}]]
                        </a>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
</div>
</body>
</html>