<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title th:text="#{app.name} + ' - ' + #{nav.backups}">CIMS - Backups</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div id="content" class="container">

    <h1 th:text="#{nav.backups}">Backups</h1>

    <form class="col col-xs-12 col-sm-10 col-md-8 pb-4" id="backupform" th:action="@{/backups}" th:object="${backup}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger alert-dismissible fade show" role="alert" data-dismiss="alert">
            <span th:text="#{input.msg.errors}">There are errors. Please try again.</span>
            <button type="button" class="close" data-dismiss="alert" data-th-attr="aria-label=#{alert.close}">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${queued}">
            <div class="alert alert-info alert-dismissible fade show" role="alert" data-dismiss="alert">
                <span th:text="#{backups.msg.queued}">A backup job has been queued.</span>
                <button type="button" class="close" data-dismiss="alert" data-th-attr="aria-label=#{alert.close}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="form-group">
            <label for="name" th:text="#{backups.lbl.name} + ':'"></label>
            <input id="name" class="form-control" th:errorclass="is-invalid" th:field="*{name}" required=""/>
            <span th:if="${#fields.hasErrors('name')}" class="small invalid-feedback" th:errors="*{name}">Name Error</span>
        </div>
        <div class="form-group">
            <label for="description" th:text="#{backups.lbl.description} + ':'"></label>
            <input id="description" class="form-control" th:errorclass="is-invalid" th:field="*{description}" required="" />
            <span th:if="${#fields.hasErrors('description')}" class="small invalid-feedback" th:errors="*{description}">Description Error</span>
        </div>
        <button type="submit" class="btn btn-primary" th:inline="text">
            <span class="oi oi-plus" aria-hidden="true"></span> [[#{backups.btn.create}]]
        </button>
    </form>

    <table class="table" th:if="${backups}">
        <thead>
            <tr>
                <th th:text="#{backups.lbl.name}">Name</th>
                <th th:text="#{backups.lbl.description}">Description</th>
                <th th:text="#{backups.lbl.created}">Created</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${backups.empty}">
                <td colspan="3" th:text="#{backups.msg.none}">No backups found</td>
            </tr>
            <th:block th:each="b:${backups}">
            <tr>
                <td th:text="${b.name}">Name</td>
                <td th:text="${b.description}">Description</td>
                <td th:text="${#calendars.format(b.created)}">Description</td>
            </tr>
            </th:block>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>