<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title th:text="#{app.name} + ' - ' + #{nav.backups}">CIMS - Backups</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div id="content" class="container">

    <h1 th:text="#{nav.backups}">Backups</h1>
    <div class="btn btn-primary" data-toggle="modal" data-target="#createbackup" th:inline="text"><span class="oi oi-plus"></span> [[#{backups.btn.create}]]</div>
    <div class="modal fade" id="createbackup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{backups.ttl.create}">Create Backup</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="backupform" th:action="@{/backups}" novalidate="">
                        <div class="form-group">
                            <label for="name" th:text="#{backups.lbl.name} + ':'"></label>
                            <input id="name" class="form-control" required=""/>
                            <span class="small invalid-feedback" th:text="#{input.msg.required(#{backups.lbl.name})}"></span>
                        </div>
                        <div class="form-group">
                            <label for="description" th:text="#{backups.lbl.description} + ':'"></label>
                            <input id="description" class="form-control" required="" />
                            <span class="small invalid-feedback" th:text="#{input.msg.required(#{backups.lbl.description})}"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{backups.btn.close}">Close</button>
                    <button type="submit" class="btn btn-primary" th:inline="text">
                        <span class="oi oi-plus" aria-hidden="true"></span> [[#{backups.btn.create}]]
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" th:unless="${backups.totalElements > 0}" th:text="#{backups.msg.none}">No backups found</div>
    <th:block th:if="${backups.totalPages > 0}">
    <nav th:if="${backups.totalPages > 1}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!backups.hasPrevious()}? disabled">
                <a class="page-link" th:href="${backups.hasPrevious()}? @{/backups(p=${backups.previousPageable().pageNumber})} : '#'" th:text="#{pager.lbl.previous}">Previous</a>
            </li>
            <li class="page-item" th:classappend="${backups.number == pn}? active" th:each="pn:${#numbers.sequence(0, backups.totalPages - 1)}">
                <a class="page-link" th:href="${backups.number == pn}? '#' : @{/backups(p=${pn})}" th:text="${pn+1}">1</a>
            </li>
            <li class="page-item" th:classappend="${!backups.hasNext()}? disabled">
                <a class="page-link" th:href="${backups.hasNext()}? @{/backups(p=${backups.nextPageable().pageNumber})} : '#'" th:text="#{pager.lbl.next}">Next</a>
            </li>
        </ul>
    </nav>
    <table class="table" th:if="${backups}">
        <thead>
            <tr>
                <th th:text="#{backups.lbl.name}">Name</th>
                <th th:text="#{backups.lbl.description}">Description</th>
                <th th:text="#{backups.lbl.created}">Created</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="b:${backups}">
            <tr>
                <td th:text="${b.name}">Name</td>
                <td th:text="${b.description}">Description</td>
                <td th:text="${#calendars.format(b.created)}">Description</td>
            </tr>
            </th:block>
        </tbody>
    </table>
    </th:block>
</div>
<div th:replace="fragments/footer :: footer"/>
<script>
//<![CDATA[
    var $modal = $('#createbackup'),
        $form = $modal.find('#backupform'),
        $submitBtn = $modal.find(':submit');

    $submitBtn.on('click', function() {
       $form.trigger('submit'); // necessary since button is not member of form
    });

    $form.on('submit', function(e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).trigger('validation');
    }).on('validation-prepare', function(e) {
        $(this).find('.invalid-feedback.server').remove();
        $(this).find('.is-invalid, .is-valid').removeClass('is-invalid is-valid');
        $(this).find('.invalid-feedback:not(.server)').removeClass('d-none');
    }).on('validation', function(e) {
        $(this).trigger('validation-prepare');
        if (this.checkValidity() === false) {
            $(this).trigger('validation-failed');
        } else {
            $(this).trigger('validation-success');
        }
    }).on('validation-failed', function(e) {
        $(this).addClass('was-validated');
    }).on('validation-success', function(e) {
        var $f = $(this);
        $f.trigger('upload-prepare');
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: $f.attr('action'),
            data: JSON.stringify({
                name: $f.find('#name').val(),
                description: $f.find('#description').val()
            }),
            dataType: 'json',
            success: function (jsonrsp) {
                $f.trigger({type: 'upload-success', response: jsonrsp});
            },
            error: function (rsp) {
                $f.trigger({type: 'upload-failed', response: rsp.responseJSON});
            },
            complete: function(rsp) {
                $f.trigger({type: 'upload-complete', response: rsp.responseJSON});
            }
        });
    });

    $modal.on('upload-prepare', function() {
        $form.removeClass('was-validated');
        $form.find('.invalid-feedback:not(.server)').addClass('d-none');
        $submitBtn.prop("disabled", true);
    }).on('upload-success', function(e) {
        $.each(e.response.messages, function(idx, msg) {
            $modal.after(
                '<div class="alert alert-dismissible alert-success fade show" role="alert" data-dismiss="alert">' +
                "<span>" + msg + "</span>" +
                '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                "</div>");
        });
        $(this).modal("hide");
        $form.trigger("reset");
    }).on('upload-failed', function(e) {
        $.each(e.response.fieldErrors, function(fieldname, errors) {
            var $field = $form.find('#'+fieldname);
            $field.addClass('is-invalid');
            var $group = $field.parent('.form-group');
            $.each(errors, function(i, error) {
                $group.append('<span class="small invalid-feedback server">' + error + '</span>');
            });
        });
    }).on('upload-complete', function(e) {
        $submitBtn.prop("disabled", false);
    });
//]]>
</script>
</body>
</html>