<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title th:text="#{app.name} + ' - ' + #{nav.forms}">CIMS - Forms</title>
    <style>
        table .oi-check {
            color: darkgreen;
        }
        table .oi-circle-x {
            color: darkred;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div id="content" class="container">
    <div class="row align-items-center">
        <h1 class="col col-auto">
            <span class="oi oi-document" aria-hidden="true"></span> <span th:text="#{nav.forms}"></span>
        </h1>
        <div class="col">
             <div class="btn btn-primary" data-toggle="modal" data-target="#addform" th:inline="text"><span class="oi oi-plus"></span> [[#{forms.btn.addform}]]</div>
            <div class="modal fade" id="addform">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{forms.btn.addform}">Add Form</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="result" class="d-none alert" role="alert"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#xmlupload" role="tab" data-toggle="tab">
                                <span th:text="#{forms.tab.xml}">XML</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#xmlxlsupload" role="tab" data-toggle="tab">
                                <span th:text="#{forms.tab.xmlplusxlsform}">XML + XLSForm</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#xlsupload" role="tab" data-toggle="tab">
                                <span th:text="#{forms.tab.xlsform}">XLSForm</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content form-uploads pt-3">
                        <div class="tab-pane fade show active" id="xmlupload">
                            <form id="xmlform" th:action="@{/uploadXmlForm}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="xml_form_def_file" th:text="#{forms.lbl.xmlform} + ':'">XML Form</label>
                                    <input id="xml_form_def_file" class="form-control-file" type="file" name="form_def_file"
                                           accept="text/xml,application/xml" required="" />
                                </div>
                                <div class="form-group">
                                    <label for="xml_media_files" th:text="#{forms.lbl.mediafiles} + ':'">Media Files</label>
                                    <input id="xml_media_files" class="form-control-file" type="file" name="media_files" multiple="" />
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="xmlxlsupload">
                            <form id="xmlxlsform" th:action="@{/uploadXmlForm}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="xmlxls_form_def_file" th:text="#{forms.lbl.xmlform} + ':'">XML Form</label>
                                    <input id="xmlxls_form_def_file" class="form-control-file" type="file" name="form_def_file"
                                           accept="text/xml,application/xml" required=""/>
                                </div>
                                <div class="form-group">
                                    <label for="xmlxls_xlsform_def_file" th:text="#{forms.lbl.xlsform} + ':'">XLSForm</label>
                                    <input id="xmlxls_xlsform_def_file" class="form-control-file" type="file" name="xlsform_def_file"
                                           accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required=""/>
                                </div>
                                <div class="form-group">
                                    <label for="xmlxls_media_files" th:text="#{forms.lbl.mediafiles} + ':'">Media Files</label>
                                    <input id="xmlxls_media_files" class="form-control-file" type="file" name="media_files" multiple="" />
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="xlsupload">
                            <form id="xlsform" th:action="@{/uploadXlsForm}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="xls_xlsform_def_file" th:text="#{forms.lbl.xlsform} + ':'"></label>
                                    <input id="xls_xlsform_def_file" class="form-control-file" type="file" name="xlsform_def_file"
                                           accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required=""/>
                                </div>
                                <div class="form-group">
                                    <label for="xls_media_files" th:text="#{forms.lbl.mediafiles} + ':'"></label>
                                    <input id="xls_media_files" class="form-control-file" type="file" name="media_files" multiple="" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{forms.btn.close}">Close</button>
                    <button type="submit" class="btn btn-primary" th:inline="text">
                        <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> [[#{forms.btn.upload}]]
                    </button>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
    <div class="row" th:unless="${forms.totalElements > 0}" >
        <div class="col">
            <p class="text-center" th:text="#{forms.msg.none}">No forms found</p>
        </div>
    </div>
    <th:block th:if="${forms.totalPages > 0}">
    <div class="row" th:if="${forms.totalPages > 1}">
        <div class="col">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!forms.hasPrevious()}? disabled">
                        <a class="page-link" th:href="${forms.hasPrevious()}? @{/forms(p=${forms.previousPageable().pageNumber})} : '#'" th:text="#{pager.lbl.previous}">Previous</a>
                    </li>
                    <li class="page-item" th:classappend="${forms.number == pn}? active" th:each="pn:${#numbers.sequence(0, forms.totalPages - 1)}">
                        <a class="page-link" th:href="${forms.number == pn}? '#' : @{/forms(p=${pn})}" th:text="${pn+1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${!forms.hasNext()}? disabled">
                        <a class="page-link" th:href="${forms.hasNext()}? @{/forms(p=${forms.nextPageable().pageNumber})} : '#'" th:text="#{pager.lbl.next}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th th:text="#{forms.lbl.id}">Id</th>
                    <th th:text="#{forms.lbl.version}">Version</th>
                    <th class="d-none d-md-table-cell" th:text="#{forms.lbl.downloads}">Downloads</th>
                    <th class="d-none d-lg-table-cell" th:text="#{forms.lbl.submissions}">Submission</th>
                    <th class="d-none d-xl-table-cell" th:text="#{forms.lbl.uploaded}">Uploaded</th>
                    <th class="d-none d-xl-table-cell" th:text="#{forms.lbl.lastSubmission}">Last Submission</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="f:${forms}">
                    <td th:text="${f.formId.id}">Id</td>
                    <td th:text="${f.formId.version}">Version</td>
                    <td class="d-none d-md-table-cell text-center align-middle" th:classappend="${f.downloads}? 'oi oi-check' : 'oi oi-circle-x'"></td>
                    <td class="d-none d-lg-table-cell text-center align-middle" th:classappend="${f.submissions}? 'oi oi-check' : 'oi oi-circle-x'"></td>
                    <td class="d-none d-xl-table-cell" th:text="${f.uploaded != null? #dates.format(f.uploaded) : ''}">Uploaded</td>
                    <td class="d-none d-xl-table-cell" th:text="${f.lastSubmission != null? #dates.format(f.lastSubmission) : ''}">Last Submission</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </th:block>
</div>
<div th:replace="fragments/footer :: footer"/>
<script th:inline="javascript">
    function upload($form) {

        var data = new FormData($form[0]);
        var action = $form.attr('action');
        var $button = $form.parents('.modal').find(":submit");

        $button.prop("disabled", true);

        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: action,
            data: data,
            processData: false, // don't make a query string out of the data
            contentType: false,
            cache: false,
            timeout: 0,
            success: function () {
                $("#result").removeClass('d-none').addClass('alert-success').text([[#{forms.msg.uploadsuccess}]]);
                $form.trigger("reset");
            },
            error: function (rsp) {
                $("#result").removeClass('d-none').addClass('alert-danger').text(
                    [[#{forms.msg.uploadfailed}]] + ': ' + rsp.responseJSON.exception + ' - ' + rsp.responseJSON.message
                );
            },
            complete: function() {
                $button.prop("disabled", false);
            }
        });
    }

    $(function() {
        // adds invisible buttons to 'add form' forms (native validation)
        $("#addform form .form-group:last-child")
            .after('<button type="submit" class="invisible"/>');

        // click handler for 'add form' dialog
        $("#addform .btn[type='submit']").click(function () {
            // ensure alerts are cleared when submitting
            $("#result").addClass("d-none").text('');
            // validate and submit the active tab's form
            $("#addform .active form :submit").click(); // triggers html5 validations
        });

        // replace default form submission with ajax submission
        $(".form-uploads form").submit(function (event) {
            event.preventDefault(); // prevent normal form submission
            upload($(this));
        });

        // reload the page when 'add form' modal is closed
        $('#addform').on('hidden.bs.modal', function () {
            location.reload(true);
        });
    });
</script>
</body>
</html>