<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title th:text="#{app.name} + ' - ' + #{nav.home}">CIMS - Home</title>
    <style>
        .card-body p {
            min-height: 6rem;
        }
        .card-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div id="content" class="container">
    <div class="row">
        <div class="col-lg-4 mb-4" sec:authorize="hasAuthority('VIEW_FORMS')">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"><span class="oi oi-document"></span> <span th:text="#{nav.forms}"></span></h1>
                    <p class="card-text" th:text="#{home.desc.forms}">
                        Upload and publish ODK-based data collection forms for use with the mobile app.
                    </p>
                    <a th:href="@{/forms}" class="btn btn-info" th:text="#{home.btn.launch(#{nav.forms})}">Launch</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4" sec:authorize="hasAuthority('VIEW_SYNC')">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"><span class="oi oi-loop-square"></span> <span th:text="#{nav.sync}"></span></h1>
                    <p class="card-text" th:text="#{home.desc.sync}">
                        Inspect and interact with the process that provides automatic data updates for the mobile app.
                    </p>
                    <a th:href="@{/sync}" class="btn btn-info" th:text="#{home.btn.launch(#{nav.sync})}">Launch</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4" sec:authorize="hasAuthority('VIEW_BACKUPS')">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"><span class="oi oi-shield"></span> <span th:text="#{nav.backups}"></span></h1>
                    <p class="card-text" th:text="#{home.desc.backups}">
                        Create and manage historical snapshots via backups of the entire CIMS Server database.
                    </p>
                    <a th:href="@{/backups}" class="btn btn-info" th:text="#{home.btn.launch(#{nav.backups})}">Launch</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4" sec:authorize="hasAuthority('VIEW_USERS')">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"><span class="oi oi-person"></span> <span th:text="#{nav.users}"></span></h1>
                    <p class="card-text" th:text="#{home.desc.users}">
                        Create and manage user accounts for CIMS Server (supervisor accounts for the mobile app).
                    </p>
                    <a th:href="@{/users}" class="btn btn-info" th:text="#{home.btn.launch(#{nav.users})}">Launch</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4" sec:authorize="hasAuthority('VIEW_ROLES')">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"><span class="oi oi-people"></span> <span th:text="#{nav.roles}"></span></h1>
                    <p class="card-text" th:text="#{home.desc.roles}">
                        Create and managed security roles for CIMS Server. Privileges are granted to users by roles.
                    </p>
                    <a th:href="@{/roles}" class="btn btn-info" th:text="#{home.btn.launch(#{nav.roles})}">Launch</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4" sec:authorize="hasAuthority('VIEW_FIELDWORKERS')">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"><span class="oi oi-person"></span> <span th:text="#{nav.fieldworkers}"></span></h1>
                    <p class="card-text" th:text="#{home.desc.fieldworkers}">
                        Create and manage off-line user accounts for fieldworkers collecting data using the mobile app.
                    </p>
                    <a th:href="@{/fieldworkers}" class="btn btn-info" th:text="#{home.btn.launch(#{nav.fieldworkers})}">Launch</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
