<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title th:text="#{app.name} + ' - ' + #{nav.sync}">CIMS - Sync</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div id="content" class="container">
    <div class="row align-items-center">
        <h1 class="col col-auto">
            <span class="oi oi-loop-square" aria-hidden="true"></span> <span th:text="#{nav.sync}"></span>
        </h1>
        <div class="col">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2">
                    <a class="btn btn-primary" th:classappend="${not scheduled}? disabled" th:href="@{/sync/pause}">
                        <span class="oi oi-media-pause"></span> <span th:text="#{sync.btn.pause}">Pause</span>
                    </a>
                    <a class="btn btn-primary" th:classappend="${scheduled or schedule.empty}? disabled" th:href="@{/sync/start}">
                        <span class="oi oi-media-play"></span> <span th:text="#{sync.btn.resume}">Resume</span>
                    </a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-primary" th:classappend="${running}? disabled" th:href="@{/sync/run}">
                        <span class="oi oi-bolt"></span> <span th:text="#{sync.btn.build}">Build Now</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center" th:inline="text">
                <span class="oi oi-timer"></span> [[${nextRun} != null? #{sync.msg.nextrun(${nextRun})} : #{sync.msg.nonextrun}]]
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th class="d-none d-lg-table-cell" th:text="#{sync.lbl.started}">Started</th>
                        <th class="d-none d-sm-table-cell" th:text="#{sync.lbl.finished}">Ended</th>
                        <th th:text="#{sync.lbl.descriptor}">Content</th>
                        <th class="d-none d-xl-table-cell" th:text="#{sync.lbl.itemCount}">Items</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle d-none d-lg-table-cell" th:text="${task.started != null? #calendars.format(task.started) : ''}"></td>
                        <td class="align-middle d-none d-sm-table-cell" th:text="${task.finished != null?  #calendars.format(task.finished) : ''}"></td>
                        <td class="align-middle" th:inline="text">
                            <a class="btn btn-primary" th:classappend="${not downloadable}? disabled" th:href="@{/sync/export}">
                                <span class="oi oi-data-transfer-download"></span>
                            </a>
                            [[${task.descriptor}]]
                        </td>
                        <td class="align-middle d-none d-xl-table-cell" th:text="${task.itemCount}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>