<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title th:text="#{app.name} + ' - ' + #{nav.users}">CIMS - Users</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div id="content" class="container">
    <div class="row align-items-center">
        <h1 class="col col-auto">
            <span class="oi oi-person" aria-hidden="true"></span> <span th:text="#{nav.users}"></span>
        </h1>
        <div class="col">
            <div class="btn btn-primary" data-toggle="modal" data-target="#usermodal"
                 th:attr="data-title=#{users.ttl.create},data-action=create,data-action-label=#{users.btn.create},data-action-icon=plus" th:inline="text"
                 sec:authorize="hasAuthority('CREATE_USERS')">
                <span class="oi oi-plus"></span> [[#{users.btn.create}]]
            </div>
            <div class="modal fade" id="usermodal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="userform" novalidate="">
                                <div class="form-row">
                                    <div class="form-group col-12 col-sm-6">
                                        <label for="firstName" th:text="#{users.lbl.firstName} + ':'"></label>
                                        <input id="firstName" class="form-control"/>
                                        <span class="small invalid-feedback" th:text="#{input.msg.required(#{users.lbl.firstName})}"></span>
                                    </div>
                                    <div class="form-group col-12 col-sm-6">
                                        <label for="lastName" th:text="#{users.lbl.lastName} + ':'"></label>
                                        <input id="lastName" class="form-control"/>
                                        <span class="small invalid-feedback" th:text="#{input.msg.required(#{users.lbl.lastName})}"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" th:text="#{users.lbl.description} + ':'"></label>
                                    <input id="description" class="form-control"/>
                                    <span class="small invalid-feedback" th:text="#{input.msg.required(#{users.lbl.description})}"></span>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12 col-sm-6">
                                        <label for="username" th:text="#{users.lbl.username} + ':'"></label>
                                        <input id="username" class="form-control" required=""/>
                                        <span class="small invalid-feedback" th:text="#{input.msg.required(#{users.lbl.username})}"></span>
                                    </div>
                                    <div class="form-group col-12 col-sm-6">
                                        <label for="roles" th:text="#{users.lbl.roles} + ':'"></label>
                                        <select id="roles" class="form-control" required="" multiple="">
                                            <option th:each="r:${roles}" th:value="${r.uuid}" th:text="${r.name}"></option>
                                        </select>
                                        <span class="small invalid-feedback" th:text="#{input.msg.required(#{users.lbl.roles})}"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12 col-sm-6">
                                        <label for="password" th:text="#{users.lbl.password} + ':'"></label>
                                        <input id="password" type="password" class="form-control" required=""/>
                                        <span class="small invalid-feedback" th:text="#{users.msg.passwordsInvalid}"></span>
                                    </div>
                                    <div class="form-group col-12 col-sm-6">
                                        <label for="passwordConfirmed" th:text="#{users.lbl.passwordConfirmed} + ':'"></label>
                                        <input id="passwordConfirmed" type="password" class="form-control" required=""/>
                                        <span class="small invalid-feedback" th:text="#{users.msg.passwordsInvalid}"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{users.btn.close}">Close</button>
                            <button type="submit" class="btn btn-primary"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <form>
                <div class="input-group">
                    <input class="form-control" name="q" th:value="${query}" th:placeholder="#{users.ph.search}"/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary"><span class="oi oi-magnifying-glass"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" th:unless="${users.totalElements > 0}">
        <div class="col">
            <p class="text-center" th:text="#{users.msg.none}">No users found</p>
        </div>
    </div>
    <th:block th:if="${users.totalPages > 0}">
    <div class="row" th:if="${users.totalPages > 1}">
        <div class="col">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!users.hasPrevious()}? disabled">
                        <a class="page-link" th:href="${users.hasPrevious()}? @{/users(p=${users.previousPageable().pageNumber},q=${query})} : '#'" th:text="#{pager.lbl.previous}">Previous</a>
                    </li>
                    <li class="page-item" th:classappend="${users.number == pn}? active" th:each="pn:${#numbers.sequence(0, users.totalPages - 1)}">
                        <a class="page-link" th:href="${users.number == pn}? '#' : @{/users(p=${pn},q=${query})}" th:text="${pn+1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${!users.hasNext()}? disabled">
                        <a class="page-link" th:href="${users.hasNext()}? @{/users(p=${users.nextPageable().pageNumber},q=${query})} : '#'" th:text="#{pager.lbl.next}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th th:text="#{users.lbl.username}">Username</th>
                        <th th:text="#{users.lbl.fullName}">Full Name</th>
                        <th th:text="#{users.lbl.lastLogin}">Last Login</th>
                        <th class="text-center" th:text="#{table.lbl.actions}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="u:${users}" th:classappend="${u.deleted != null}? deleted">
                        <td class="align-middle" th:text="${u.username}">Username</td>
                        <td class="align-middle" th:text="${u.fullName}">Full Name</td>
                        <td class="align-middle" th:text="${u.lastLogin != null? #dates.format(u.lastLogin) : ''}">2018-12-01 14:12:12.289</td>
                        <td class="align-middle text-center">
                            <div class="btn-group">
                                <button class="btn btn-outline-primary oi oi-info pr-3 pl-3" data-toggle="modal" data-target="#usermodal"
                                      th:attr="data-entity=${u.uuid},data-action=none,data-title=#{users.ttl.view}"></button>
                                <button class="btn btn-outline-primary oi oi-pencil" data-toggle="modal" data-target="#usermodal"
                                      th:attr="data-entity=${u.uuid},data-title=#{users.ttl.edit},data-action=edit,data-action-label=#{users.btn.save},data-action-icon=pencil"
                                      sec:authorize="hasAuthority('EDIT_USERS')"></button>
                                <button id="delete" th:unless="${u.deleted}" th:attr="data-entity=${u.uuid}" class="btn btn-outline-primary oi oi-trash"
                                      sec:authorize="hasAuthority('DELETE_USERS')"></button>
                                <button id="undelete" th:if="${u.deleted}" th:attr="data-entity=${u.uuid}" class="btn btn-outline-primary oi oi-action-undo"
                                        sec:authorize="hasAuthority('RESTORE_USERS')"></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </th:block>
</div>
<div th:replace="fragments/footer :: footer"/>
<script th:inline="javascript">
    var createUrl = /*[[@{/users}]]*/ 'create-url-placeholder',
        entityUrl = /*[[@{/user}]]*/ 'update-url-placeholder';
//<![CDATA[
    var $modal = $('#usermodal'),
        $form = $modal.find('#userform'),
        $submitBtn = $modal.find(':submit');

    var $password = $('#password'), $confirmPassword = $('#passwordConfirmed');

    function passwordsMatch() {
        return $password.val() === $confirmPassword.val();
    }

    function validatePassword() {
        var match = passwordsMatch();
        $([$password, $confirmPassword]).each(function (idx, $ctl) {
            $ctl[0].setCustomValidity(match? '' : "password don't match"); // sets pseudo-class ':(in)valid'
        });
    }
    $('#password, #passwordConfirmed').keyup(validatePassword);

    $submitBtn.on('click', function() {
        $form.trigger('submit'); // necessary since button is not member of form
    });

    // setup form events
    $form.on('submit', function(e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).trigger('validation');
    }).on('validation-prepare', function() {
        $(this).find('.invalid-feedback.server').remove();
        $(this).find('.is-invalid, .is-valid').removeClass('is-invalid is-valid');
        $(this).find('.invalid-feedback:not(.server)').removeClass('d-none');
    }).on('validation', function() {
        $(this).trigger('validation-prepare');
        if (this.checkValidity() && passwordsMatch()) {
            $(this).trigger('validation-success');
        } else {
            $(this).trigger('validation-failed');
        }
    }).on('validation-failed', function() {
        $(this).addClass('was-validated');
    }).on('validation-success', function() {
        var $f = $(this);

        $f.trigger('action-prepare');

        var data = {
            firstName: $f.find('#firstName').val(),
            lastName: $f.find('#lastName').val(),
            description: $f.find('#description').val(),
            username: $f.find('#username').val(),
            roles: $f.find('#roles').val()
        };

        if ($f.data('action') === 'create' || $f.find('#password').val().length > 0) {
            data.password = $f.find('#password').val();
        }

        $.ajax({
            type: $f.data('action') === 'create'? 'POST' : 'PUT',
            contentType: 'application/json',
            url: $f.data('action') === 'create'? createUrl : entityUrl + '/' + $f.data('entity'),
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (jsonrsp) {
                $f.trigger({type: 'action-success', response: jsonrsp});
            },
            error: function (rsp) {
                $f.trigger({type: 'action-failed', response: rsp.responseJSON});
            },
            complete: function(rsp) {
                $f.trigger({type: 'action-complete', response: rsp.responseJSON});
            }
        });
    });

    $modal.on('validation-prepare', function() {
        $(this).find('.modal-body .alert').remove();
    }).on('action-prepare', function() {
        $form.removeClass('was-validated');
        $form.find('.invalid-feedback:not(.server)').addClass('d-none');
        $submitBtn.prop("disabled", true);
    }).on('action-success', function(e) {
        if ($form.data('action') === 'create') {
            $.each(e.response.messages, function(idx, msg) {
                $modal.find('.modal-body').prepend(
                    '<div class="alert alert-dismissible alert-success fade show" role="alert" data-dismiss="alert">' +
                    "<span>" + msg + "</span>" +
                    '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
                    "</div>");
            });
            $form.trigger("reset");
        } else {
            location.reload(true);
        }
    }).on('action-failed', function(e) {
        $.each(e.response.fieldErrors, function(fieldname, errors) {
            var $field = $form.find('#'+fieldname);
            $field.addClass('is-invalid');
            var $group = $field.parent('.form-group');
            $.each(errors, function(i, error) {
                $group.append('<span class="small invalid-feedback server">' + error + '</span>');
            });
        });
    }).on('action-complete', function() {
        $submitBtn.prop("disabled", false);
    }).on('show.bs.modal', function(e) {

        var $toggle = $(e.relatedTarget), $closeBtn = $('#close'),
            action = $toggle.data('action'), title = $toggle.data('title'), entity = $toggle.data('entity');

        $modal.find('.modal-title').text(title);

        if (action !== 'none') {
            $closeBtn.removeClass('btn-primary').addClass('btn-secondary');
            $form.data('action', action);
            $submitBtn.removeClass('d-none');
            $submitBtn.html('<span class="oi oi-' + $toggle.data('action-icon') + '" aria-hidden="true"></span> '
                + $toggle.data('action-label'));
            $form.find('.form-control').prop('disabled', false);
            $form.find(".form-control[type='password']").prop('required', action === 'create');
        } else {
            $closeBtn.removeClass('btn-secondary').addClass('btn-primary');
            $submitBtn.addClass('d-none');
            $form.find('.form-control').prop('disabled', true);
        }

        if (entity) {
            $form.data('entity', entity);
            $form.trigger('load-entity');
        }
    }).on('load-entity', function() {
        $.ajax({
            type: 'GET',
            url: entityUrl + '/' + $form.data('entity'),
            dataType: 'json',
            success: function (data) {
                $.each(['firstName', 'lastName', 'description', 'username', 'roles'], function(i,v) {
                    $form.find('#'+v).val(data[v]);
                });
                $('#password, #passwordConfirmed').val('');
            }
        });
    }).on('hidden.bs.modal', function () {
        if ($form.data('action') === 'create') {
            location.reload(true); // create doesn't close modal, refresh on hide
        }
    });

    $('button#delete.btn').click(function() {
        $.ajax({
            type: 'DELETE',
            url: entityUrl + '/' + $(this).data('entity'),
            success: function() {
                location.reload(true);
            }
        });
    });

    $('button#undelete.btn').click(function() {
        $.ajax({
            type: 'PUT',
            url: entityUrl + '/restore/' + $(this).data('entity'),
            success: function() {
                location.reload(true);
            }
        });
    });
//]]>
</script>
</body>
</html>
