<div>
    <h2>Errors</h2>

    <form>
        Search: <input ng-model="search">
    </form>

    <table>
        <tr>
            <th>Error ID</th>
            <th>Entity Type</th>
            <th>Date</th>
            <th>Message</th>
            <th>Field Worker</th>
            <th>Resolution Status</th>
        </tr>
        <tr ng-repeat="errorlog in allUnresolvedErrors.data.errors | filter:search">
            <td>{{errorlog.uuid}}</td>
            <td>{{errorlog.entityType}}</td>
            <td>{{errorlog.insertDate}}</td>
            <td ng-repeat="error in errorlog.errors">{{error.errorMessage}} </br></td>
            <td>{{errorlog.fieldWorker.extId}}</td>
            <td>{{errorlog.resolutionStatus}}</td>
        </tr>
    </table>

</div>