<div>
    <h2>All Unresolved Errors</h2>

    <form>
        Search: <input ng-model="search">
    </form>
    <ul>
        <li ng-repeat="errorlog in allUnresolvedErrors | filter:search">
            <p>UUID: {{errorlog.uuid}}</p>
            <p>Date: {{errorlog.insertDate}}</p>
            <p>Field Worker: {{errorlog.fieldWorker.extId}}</p>
            <p>Type: {{errorlog.entityType}}</p>
            <p ng-repeat="error in errorlog.errors">Message: {{error.errorMessage}}</p>
            <p>Status: {{errorlog.resolutionStatus}}</p>
            <p>Date of Resolution: {{errorlog.dateOfResolution}}</p>
        </li>
    </ul>
</div>