<div>
    <form>
        <select class="form-control input-small" ng-model="entitySelection">
            <option ng-repeat="entity in entityType" value="{{entity.name}}">{{entity.label}}</option>
        </select>

        <div class="form-group">
            <label>Resolution Status</label>
            <input ng-model="resolutionStatus" type="text" placeholder="Modified ExtId, Unresolved, etc.">
        </div>
    </form>



    <div>
        <div id="startDate">
            <h4>Start Date</h4>
            <datepicker ng-model="startDate" show-weeks="true" class="well well-sm"></datepicker>
            <button type="button" class="btn btn-default" ng-Click="setSevenDayWindow()">Today - 7</button>
        </div>
`
        <div id="endDate">
            <h4>End Date</h4>
            <datepicker ng-model="endDate" show-weeks="true"  class="well well-sm" ></datepicker>
            <button type="button" class="btn btn-default" ng-Click="endToday()">Today</button>
        </div>
    </div>

    <button class="btn btn-block btn-lg btn-primary" ng-click="submit()">Search</button>

</div>